body {
    background-color: #D2B48C;
}
.error {color: red;}
a {text-decoration: none;}
.leftMenu{
    width: 18%;
    position: fixed;
    left: 25px;
    top: 15%;
    background-color: #A0522D;
}
.topNavigation{
    height: 10%;
    position: relative;
    z-index: 1;
    float: left;
    display: block;
}
.loginField{
    width: 40%;
    position: relative;
    left: 45px;
    top: 100px;
    background-color: #FFF8DC;
    border: 2px solid #BC8F8F;
    padding-left: 25px;
    text-align: left;
    color: #A52A2A;
    margin-bottom: 15%;
}
.oneProduct{
    width: 70%;
    position: relative;
    left: 45px;
    top: 15%;
    background-color: #FFF8DC;
    border: 2px solid #BC8F8F;
    padding: 25px;
    margin-bottom: 10%;
}
.productField {
    border: 1px solid #BC8F8F;
    width: 75%;
    background-color: #FFF8DC;
    position: absolute;
    right: 40px;
    top: 15%;
}
.productsContent{
    margin-bottom: 60%;
}
.productImg{
    border: 2px solid #BC8F8F;
}
.startField{
    width: 100%;
    position: relative;
    top: 15%;
    margin-bottom: 10%;
    background-color: #FFF8DC;
    border: 2px solid #BC8F8F;
}
.footerField{
    padding: 15px;
    width: 100%;
    background-color: #A0522D;
    position: absolute;
    left: 0;
    margin-bottom: 0;
}
.roleField{
    position: relative;
    top: 15%;
    margin-bottom: 10%;
}
.adminField{
    border: 2px solid #BC8F8F;
    width: 85%;
    background-color: #FFF8DC;
    position: relative;
    top: 15%;
    left: 40px;
    padding: 25px;
    margin-bottom: 10%;
}
.adminMenu{
    padding: 2px;
    position: relative;
    float: right;
    background-color: #A0522D;
    border: 2px solid lavender;
}
.userField{
    width: 60%;
    position: relative;
    left: 45px;
    top: 100px;
    background-color: #FFF8DC;
    border: 2px solid #BC8F8F;
    padding: 25px;
    text-align: left;
    margin-bottom: 15%;
}