.footer_info {
    font-style: italic;
    font-size: 20px;
}
.copyright{
    font-weight: bold;
    font-size: 18px;
}
.service {
    font-weight: bold;
    font-size: 20px;
    color: #FFD700;
    position: absolute;
    left: 35%;
    top: 10px;
}
.about_us {
    font-weight: bold;
    font-size: 20px;
    color: #FFD700;
    position: absolute;
    left: 70%;
    top: 10px;
}
.service_list{
    list-style-type: none;
    text-align: center;
    color: #FFF8DC;
    position: absolute;
    left: 33%;
    top: 30px;
}
.about_us_list{
    list-style-type: none;
    text-align: center;
    color: #FFF8DC;
    position: absolute;
    left: 66%;
    top: 30px;
}
.footerField a {
    color: #FFF8DC;
    font-style: italic;
    font-size: 18px;
}
