.head{
    text-align: center;
    font-style: italic;
    font-size: 40px;
    font-weight: bold;
    color: maroon;
    padding: 15px;
}
.indexImg{
    width: 500px;
    height: 600px;
    border: 2px solid #BC8F8F;
    margin-right: 80px;
    margin-left: 80px;
    position: relative;
    left: 20%;
}