.catalogField {
    background-color: #FFF8DC;
    list-style-type: none;
    margin: 5px;
    padding: 10px;
    text-align: center;
    font-family: "Times New Roman";
    letter-spacing: 2px;
    font-style: italic;
}
.catalogTable, tr, td{
    margin: auto;
    text-align: center;
    color: #A52A2A;
    border: none;
    font-size: 20px;
}
.catalogLink{
    cursor: pointer;
    margin-bottom: 5px;
    font-style: italic;
}
.head{
    cursor: context-menu;
    font-size: 30px;
    font-weight: bold;
    color: #800000;
}
.head_coll{
    cursor: context-menu;
    font-size: 21px;
    font-weight: bold;
    color: #800000;
}
